<div class = "row">
	<h2>My Profile</h2>
	
	<div class = "user-attributes">
		<span>Email</span>
		<span><%= current_user.email %>
	</div>
	
	<div class = "user-attributes">
		<span>Phone Number</span>
		<span><%= current_user.phone_number %></span>
	</div>
</div>