<div class = "row">
	<div class="alert alert-info">
		<span>Please Note this is a Demo Application</span>
	</div>

	<h2>What Happens Next?</h2>
	<ul class = "list-group">
		<li class="list-group-item">Wait For Twilio's Automated Call</li>
		<li class="list-group-item">Press any number to continue Automated Call</li>
		<li class="list-group-item">Enter the following code: <strong><%= @caller_id.validation_code %></strong>
		<li class="list-group-item">Your Number Is Now Verified!</li>
	</ul>
	<h2>How Do You Create Your Tasks Via Text?</h2>
	<ul class = "list-group">
		<li class="list-group-item">Enter the task you wish to create in your text</li>
		<li class="list-group-item">Send it to +1347-334-5437</li>
	</ul>
	
</div>